<header th:fragment="header" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar navbar-expand-lg justify-content-between border-bottom mx-5 px-1" id="navbar">
        <div>
            <ul class="navbar-nav">
                <li>
                    <a class="nav-link" href="/">Главная</a>
                </li>
                <li>
                    <a class="nav-link" href="/dishes/popular">Популярное</a>
                </li>
                <li>
                    <a class="nav-link" href="/restaurants">Рестораны</a>
                </li>
                <li>
                    <a class="nav-link" href="/dishes">Блюда</a>
                </li>
                <li>
                    <a class="nav-link" href="/categories">Категории</a>
                </li>
                <li>
                    <a sec:authorize="hasRole('ADMIN')" href="/admin/users" class="nav-link">Пользователи</a>
                </li>

            </ul>
        </div>
        <div>
            <ul class="navbar-nav align-items-center">
                <li sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/orders/create/user">Корзина</a>
                </li>

                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                    <a class="mx-2 d-flex align-items-center gap-2 text-decoration-none" href="/users/profile">
                        <img th:src="@{/images/avatar.png}" alt="Профиль" class="profile-icon" height="35px"/>
                        <p class="nav-link m-0 p-0">
                            <th:block sec:authentication="name"></th:block>
                        </p>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="adminPanelDropdown">
                        <a class="nav-link" href="/orders/user">Мои заказы</a>
                        <form th:action="@{/auth/logout}" th:method="post">
                            <input class="btn btn-link nav-link" type="submit" value="Выход">
                        </form>

                    </ul>

                </li>

                <li sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/auth/login">Вход</a>
                </li>

            </ul>
        </div>

    </nav>
    <div th:replace="~{fragments/error-modal}"></div>
</header>