<header th:fragment="header" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar navbar-expand-lg justify-content-between border-bottom mx-3" id="navbar">
        <div>
            <ul class="navbar-nav">
                <li>
                    <a class="nav-link" href="/">Главная</a>
                </li>
                <li>
                    <a class="nav-link" href="/popular">Популярное</a>
                </li>
                <li>
                    <a class="nav-link" href="/restaurants">Рестораны</a>
                </li>
                <li>
                    <a class="nav-link" href="/dishes">Блюда</a>
                </li>
                <li>
                    <a class="nav-link" href="/categories">Категории</a>
                </li>
                <li>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/users}" class="nav-link">Пользователи</a>
                </li>
<!--                <li sec:authorize="hasRole('ADMIN')">-->
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle">-->
<!--                        Админ панель-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu" aria-labelledby="adminPanelDropdown">-->
<!--                        <li><a class="dropdown-item" th:href="@{/users}">Пользователи</a></li>-->
<!--                    </ul>-->
<!--                </li>-->

            </ul>
        </div>
        <div>
            <ul class="navbar-nav align-items-center">
                <li sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/orders/user">Мои заказы</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="/auth/login">Вход</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <a class="mx-2" href="/profile">
                        <img th:src="@{/img/avatar.png}" alt="Профиль" class="profile-icon" height="35px"/>
                    </a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <form th:method="post" th:action="@{/auth/logout}">
                        <input class="btn btn-link nav-link" type="submit" value="Выход">
                    </form>
                </li>

            </ul>
        </div>

    </nav>
</header>