<nav th:fragment="pagination" th:if="${model.totalPages > 1}" class="my-3" aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item"
            th:each="pageNumber : ${#numbers.sequence(1, model.totalPages)}"
            th:classappend="${pageNumber == form.page} ? 'active'">
            <a class="page-link"
               th:href="@{/restaurants(page=${pageNumber}, size=${form.size}, searchTerm=${form.searchTerm})}"
               th:text="${pageNumber}">1</a>
        </li>
    </ul>
</nav>