<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}"></head>
<body>
<header th:replace="~{fragments/header}"></header>
<main class="flex-shrink-0">
    <div class="container p-3 text-center">


        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 text-center">
                <h2 class="mb-4 fw-light">Категории блюд</h2>
            </div>
            <div class="col-4 text-end">

                <a sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')" th:href="@{/admin/categories/add}" class="btn btn-success">Добавить категорию</a>
            </div>
        </div>


        <div class="row row-cols-md-4 g-1">
            <div class="col"  th:each="category : ${model.categories}">
                <a class="card text-decoration-none" th:href="@{/dishes(categoryId=${category.id})}">
                    <div class="card-body">
                        <h5 th:text="${category.name}" class="card-title"></h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
