<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<header th:replace="~{fragments/header}"></header>
<main class="container py-3">
    <h2 class="mb-4 fw-light text-center">Заказ</h2>

    <div th:each="order : ${model.orders}" class="card mb-4">
        <div class="card-body">

            <div class="d-flex justify-content-between ">
                <h5 class="card-title">Ресторан:
                    <a th:text="${order.restaurantName}"
                       th:href="@{/restaurants/{id}(id=${order.restaurantId})}" class="card-text text-decoration-none"></a>
                </h5>
                <p th:text="${'Итог: ' + order.totalPrice}" class="card-text h5"></p>

            </div>

            <h6>Состав заказа:</h6>
            <div class="d-flex flex-wrap gap-1">
                <div th:each="item : ${order.orderItems}" th:if="${item.count != 0}"
                     class="card card-sm  text-center">
                    <div th:if="${!item.isVisible}" class="overlay position-absolute top-0 start-0 w-100 h-100 bg-white opacity-50 pe-none"></div>

                    <img th:src="${item.imageURL}" class="ave-img" alt="Блюдо">
                    <a th:href="@{/dishes/{id}(id=${item.dishId})}" class="mb-1 text-decoration-none text-body"
                       th:classappend="${item.isVisible ? '' : 'pe-none'}"
                       th:text="${item.dishName}"></a>

                    <div class="p-2">
                        <form th:action="@{/orders/add/change-item}" th:method="post"
                              class="d-flex justify-content-end">
                            <input type="hidden" name="itemId" th:value="${item.id}"/>

                            <button type="submit" name="count" th:value="${item.count - 1}"
                                    class="btn btn-outline-danger btn-sm"
                                    th:disabled="${item.count <= 0}">-
                            </button>

                            <input type="text" th:value="${item.count}" readonly
                                   class="form-control text-center mx-2 w-25">
                            <button type="submit" name="count" th:value="${item.count + 1}"
                                    class="btn btn-outline-success">+
                            </button>
                        </form>
                        <small th:if="${!item.isVisible}" class="text-danger">Блюдо не доступно</small>

                    </div>
                </div>
            </div>
            <div class="text-end">
                <a th:href="@{/orders/add/{id}(id=${order.id})}"
                   onclick="return confirm('Вы уверены, что хотите сделать заказ?');" class="btn btn-primary">Заказать</a>
            </div>


        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
