<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}"></head>
<body>
<header th:replace="~{fragments/header}"></header>
<main>
    <div class="container-fluid p-3">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 text-center">
                <h2 th:text="${model.restaurant.name}" class="mb-2 fw-light"></h2>
            </div>
            <div class="col-4 text-end">
                <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/restaurants/{id}/orders(id=${model.restaurant.id})}" class="btn btn-primary">Заказы</a>
                <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/restaurants/{id}/add-dish(id=${model.restaurant.id})}" class="btn btn-success">Добавить блюдо</a>
                <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/restaurants/{id}/edit(id=${model.restaurant.id})}" class="btn btn-secondary">Изменить</a>
            </div>
        </div>

        <div class="text-p" th:object="${model.restaurant}">
            <p>Идентификатор: <b th:text="*{id}"></b></p>
            <p>Время работы: <b th:text="*{openTime + '-' + closeTime}"></b></p>
            <p>Адрес: <b th:text="*{address}"></b></p>
            <p>Номер телефона: <b th:text="*{phoneNumber}"></b></p>
            <p>Минимальная сумма заказа: <b th:text="*{minOrderAmount}"></b></p>
            <p th:text="*{description}"></p>
        </div>
        <div class="text-end">
            <a th:href="@{/restaurants/{id}/reviews(id=${model.restaurant.id})}" class="btn btn-primary text-end">Отзывы</a>
        </div>


        <div class="row">
            <nav class="col-md-2 sticky-menu py-2">
                <div class="list-group">
                    <div th:each="category : ${model.category}">
                        <a th:href="'#' + ${category.name}" class="list-group-item d-flex justify-content-between">
                            <span th:text="${category.name}"></span>
                            <span th:text="${category.count}" class="badge bg-secondary rounded-circle"></span>
                        </a>
                    </div>
                </div>
            </nav>

            <div class="col-md-10">
                <div th:id="${category.name}" th:each="category : ${model.category}">
                    <h4 th:text="${category.name}" class="mb-3"></h4>
                    <div class="d-flex flex-wrap gap-1 mb-3">
                        <div th:each="dish : ${category.dishes}" class="card-container">
                            <div th:replace="~{fragments/dish-card}"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
