<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<header th:replace="~{fragments/header}"></header>
<main class="flex-shrink-0">
    <div class="container p-3">
        <h2 class="mb-4 fw-light text-center">Пользователи</h2>

        <form th:action="@{/admin/users}" th:method="get" th:object="${form}" class="w-25 mb-2">
            <div class="input-group">
                <input type="text"
                       th:field="*{searchTerm}"
                       class="form-control"
                       placeholder="Поиск по логину"/>
                <input type="hidden" th:field="*{page}" />
                <input type="hidden" th:field="*{size}" />
                <button class="btn btn-primary" type="submit">Поиск</button>
            </div>
        </form>

        <div class="row row-cols-1 row-cols-md-4 g-2">
            <div class="col"  th:each="user : ${model.users}">
                <a th:href="@{/users/{id}(id=${user.id})}" class="card h-100 text-decoration-none">
                    <div class="card-body text-p">
                        <h4 th:text="${user.login}" class="card-title"></h4>
                        <p th:text="${'Имя: ' + user.firstName}"></p>
                        <p th:text="${'Идентификатор: ' + user.id}"></p>
                    </div>
                </a>
            </div>
        </div>

        <nav th:if="${model.totalPages > 1}" class="my-3" aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item"
                    th:each="pageNumber : ${#numbers.sequence(1, model.totalPages)}"
                    th:classappend="${pageNumber == form.page} ? 'active'">
                    <a class="page-link"
                       th:href="@{/admin/users(page=${pageNumber}, size=${form.size}, searchTerm=${form.searchTerm})}"
                       th:text="${pageNumber}">1</a>
                </li>
            </ul>
        </nav>

    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
