<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<header th:replace="~{fragments/header}"></header>
<main>
    <div class="container p-3 col-md-3">
        <h2 class="mb-4 fw-light text-center">Изменение профиля</h2>
        <form th:action="@{/users/{id}/edit(id=${form.id})}" th:object="${form}" th:method="post">
            <input th:field="*{id}" type="hidden" id="id" class="form-control text-center"/>
            <div class="mb-2">
                <label for="registerName" class="form-label">Имя</label>
                <input th:field="*{firstName}" th:errorclass="is-invalid" type="text" class="form-control" id="registerName">
                <small th:if="${#fields.hasErrors('firstName')}"
                       th:errors="*{firstName}"
                       class="text-danger">Error message</small>

            </div>
            <div class="mb-2">
                <label for="login" class="form-label">Логин</label>
                <input th:field="*{login}" th:errorclass="is-invalid" type="text" class="form-control" id="login">
                <small th:if="${#fields.hasErrors('login')}"
                       th:errors="*{login}"
                       class="text-danger">Error message</small>
            </div>
            <div class="mb-2">
                <label for="phoneNumber" class="form-label">Номер телефона</label>
                <input th:field="*{phoneNumber}" th:errorclass="is-invalid" type="tel" class="form-control" id="phoneNumber">
                <small th:if="${#fields.hasErrors('phoneNumber')}"
                       th:errors="*{phoneNumber}"
                       class="text-danger">Error message</small>
            </div>
            <div class="mb-2">
                <label for="address" class="form-label">Адрес</label>
                <input th:field="*{address}" th:errorclass="is-invalid" type="text" class="form-control" id="address">
                <small th:if="${#fields.hasErrors('address')}"
                       th:errors="*{address}"
                       class="text-danger">Error message</small>
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-secondary">Изменить профиль</button>
            </div>
        </form>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
