<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}"></head>
<body>
<header th:replace="~{fragments/header}"></header>
<main>
    <div th:object="${model.dishViewModel}" class="container-fluid p-3 ">

        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 text-center">
                <h2 th:text="*{name + ' | ' + price + ' ₽'}" class="mb-3 fw-light"></h2>
            </div>
            <div class="col-4 text-end">
                <a sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')" th:href="@{/admin/dishes/{id}/edit(id=${id})}"
                   class="btn btn-secondary">Изменить</a>
            </div>
        </div>
        <div class="container col-md-4">
            <img th:src="*{imageURL}" class="full-img card-img-top">

            <div class="text-p">
                <p>Идентификатор: <b th:text="*{id}"></b></p>
                <p>Вес: <b th:text="*{weight}"></b></p>
                <p>Калории: <b th:text="*{calories}"></b></p>
                <p th:text="${model.description}"></p>
            </div>

            <div class="border-top text-p">
                <p>Категория: <b th:text="${model.categoryName}"></b></p>
                <a th:href="@{/restaurants/{id}(id=${model.restaurantId})}" class="text-decoration-none">
                    Ресторан: <b th:text="${model.restaurantName}"></b>
                </a>
            </div>
            <p sec:authorize="hasAnyRole('ADMIN', 'MODERATOR')">Видимость блюда: <b
                    th:text="${model.dishViewModel.isVisible ? 'Видимо' : 'Невидимо'}"></b></p>

            <form th:if="*{isVisible}" th:action="@{/orders/create/add-item/{id}(id=${id})}" method="post"
                  class=" text-center my-3">
                <button type="submit" class="btn btn-secondary">Добавить в заказ</button>
            </form>


        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
