<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<header th:replace="~{fragments/header}"></header>
<main>
    <div th:replace="~{fragments/error-modal}"></div>
    <div class="container p-3 col-md-3">
        <h2 class="mb-4 fw-light text-center">Изменение пароля</h2>
        <form th:action="@{/users/change-password}" th:object="${form}" th:method="post">
            <input th:field="*{username}" type="hidden" id="id" class="form-control text-center"/>
            <div class="mb-2">
                <label for="oldPassword" class="form-label">Старый пароль</label>
                <input th:field="*{oldPassword}" th:errorclass="is-invalid" type="password" class="form-control" id="oldPassword"
                       minlength="5" maxlength="20">
                <small th:if="${#fields.hasErrors('oldPassword')}"
                       th:errors="*{oldPassword}"
                       class="text-danger">Error message</small>

            </div>
            <div class="mb-2">
                <label for="newPassword" class="form-label">Новый пароль</label>
                <input th:field="*{newPassword}" th:errorclass="is-invalid" type="password" class="form-control" id="newPassword"
                       minlength="5" maxlength="20">
                <small th:if="${#fields.hasErrors('newPassword')}"
                       th:errors="*{newPassword}"
                       class="text-danger">Error message</small>
            </div>

            <div class="mb-2">
                <label for="confirmPassword" class="form-label">Подтвердите пароль</label>
                <input th:field="*{confirmPassword}" th:errorclass="is-invalid" type="password" class="form-control" id="confirmPassword"
                       minlength="5" maxlength="20">
                <small th:if="${#fields.hasErrors('confirmPassword')}"
                       th:errors="*{confirmPassword}"
                       class="text-danger">Error message</small>
            </div>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-secondary">Изменить пароль</button>
            </div>
        </form>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
